<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <display-name>Java Web Parts Sample App</display-name>

  <context-param>
    <param-name>configFile</param-name>
    <param-value>/WEB-INF/app_config.xml</param-value>
  </context-param>
  <context-param>
    <param-name>rootElement</param-name>
    <param-value>config</param-value>
  </context-param>
  <context-param>
    <param-name>configClass</param-name>
    <param-value>javawebparts.sampleapp.SampleAppConfigBean</param-value>
  </context-param>
  <context-param>
    <param-name>AjaxPartsTaglibConfig</param-name>
    <param-value>/WEB-INF/ajax_config.xml,/WEB-INF/ajax_config_2.xml</param-value>
  </context-param>
  <context-param>
    <param-name>AjaxPartsTaglibValidateConfig</param-name>
    <param-value>true</param-value>
  </context-param>

  <!-- SessionLimiterFilter -->
<!--
  <filter>
    <filter-name>SessionLimiterFilter</filter-name>
    <filter-class>javawebparts.filter.SessionLimiterFilter</filter-class>
    <init-param>
      <param-name>maxSessions</param-name>
      <param-value>1</param-value>
    </init-param>
    <init-param>
      <param-name>forwardTo</param-name>
      <param-value>/packages_jsp/filter/SLFTooMany.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>pathSpec</param-name>
      <param-value>include</param-value>
    </init-param>
    <init-param>
      <param-name>pathList</param-name>
      <param-value>*.jsp</param-value>
    </init-param>
  </filter>
-->

  <!-- JSCompressionFilter -->
  <filter>
    <filter-name>JSCompressionFilter</filter-name>
    <filter-class>javawebparts.filter.JSCompressionFilter</filter-class>
    <init-param>
      <param-name>pathSpec</param-name>
      <param-value>include</param-value>
    </init-param>
    <init-param>
      <param-name>pathList</param-name>
      <param-value>*/jsForJSCompressionFilter.js,/packages_jsp/filter/index.jsp</param-value>
    </init-param>
  </filter>

  <!-- URLRedirectFilter -->
  <filter>
    <filter-name>URLRedirectFilter</filter-name>
    <filter-class>javawebparts.filter.URLRedirectFilter</filter-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/redirect_config.xml</param-value>
    </init-param>
  </filter>

  <!-- DependencyFilter -->
  <filter>
    <filter-name>DependencyFilter</filter-name>
    <filter-class>javawebparts.filter.DependencyFilter</filter-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/dependencies_config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>createSession</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <!-- SessionInactivityFilter -->
  <filter>
    <filter-name>SessionInactivityFilter</filter-name>
    <filter-class>javawebparts.filter.SessionInactivityFilter</filter-class>
    <init-param>
      <param-name>forwardTo</param-name>
      <param-value>/packages_jsp/filter/SIFReject.jsp</param-value>
    </init-param>
  </filter>

  <!-- IPAccessControlFilter -->
  <filter>
    <filter-name>IPAccessControlFilter</filter-name>
    <filter-class>javawebparts.filter.IPAccessControlFilter</filter-class>
    <init-param>
      <param-name>pathSpec</param-name>
      <param-value>include</param-value>
    </init-param>
    <init-param>
      <param-name>pathList</param-name>
      <param-value>*/IACTestTarget.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>addressSpec</param-name>
      <param-value>include</param-value>
    </init-param>
    <init-param>
      <param-name>addressList</param-name>
      <param-value>localhost</param-value>
    </init-param>
    <init-param>
      <param-name>forwardTo</param-name>
      <param-value>/packages_jsp/filter/IACReject.jsp</param-value>
    </init-param>
  </filter>

  <!-- RequestRecorderFilter -->
  <filter>
    <filter-name>RequestRecorderFilter</filter-name>
    <filter-class>javawebparts.filter.RequestRecorderFilter</filter-class>
    <init-param>
      <param-name>saveFile</param-name>
      <param-value>RCFSaveFile.csv</param-value>
    </init-param>
  </filter>

  <!-- CrossSiteScriptingFilter -->
  <filter>
    <filter-name>CrossSiteScriptingFilter</filter-name>
    <filter-class>javawebparts.filter.CrossSiteScriptingFilter</filter-class>
    <init-param>
      <param-name>forwardTo</param-name>
      <param-value>/packages_jsp/filter/CSSReject.jsp</param-value>
    </init-param>
  </filter>

  <!-- CacheControlFilter -->
  <filter>
    <filter-name>CacheControlFilter</filter-name>
    <filter-class>javawebparts.filter.CacheControlFilter</filter-class>
    <init-param>
      <param-name>pathSpec</param-name>
      <param-value>exclude</param-value>
    </init-param>
    <init-param>
      <param-name>pathList</param-name>
      <param-value>*/header1.gif,*.jpg</param-value>
    </init-param>
  </filter>

  <!-- CompressionFilter -->
  <filter>
    <filter-name>CompressionFilter</filter-name>
    <filter-class>javawebparts.filter.CompressionFilter</filter-class>
    <init-param>
      <param-name>pathSpec</param-name>
      <param-value>include</param-value>
    </init-param>
    <init-param>
      <param-name>pathList</param-name>
      <param-value>*/bigimage2.gif</param-value>
    </init-param>
    <init-param>
      <param-name>compressType</param-name>
      <param-value>gzip_first</param-value>
    </init-param>
  </filter>

  <!-- AppAvailabilityFilter -->
  <filter>
    <filter-name>AppAvailabilityFilter</filter-name>
    <filter-class>javawebparts.filter.AppAvailabilityFilter</filter-class>
    <init-param>
      <param-name>pathSpec</param-name>
      <param-value>include</param-value>
    </init-param>
    <init-param>
      <param-name>pathList</param-name>
      <param-value>*/AAFTestTarget.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>monday</param-name>
      <param-value>0600-2359</param-value>
    </init-param>
    <init-param>
      <param-name>tuesday</param-name>
      <param-value>0600-2359</param-value>
    </init-param>
    <init-param>
      <param-name>wednesday</param-name>
      <param-value>0600-2359</param-value>
    </init-param>
    <init-param>
      <param-name>thursday</param-name>
      <param-value>0600-2359</param-value>
    </init-param>
    <init-param>
      <param-name>friday</param-name>
      <param-value>0600-2359</param-value>
    </init-param>
    <init-param>
      <param-name>saturday</param-name>
      <param-value>0600-2359</param-value>
    </init-param>
    <init-param>
      <param-name>sunday</param-name>
      <param-value>0600-2359</param-value>
    </init-param>
    <init-param>
      <param-name>redirectTo</param-name>
      <param-value>/packages_jsp/filter/AAFReject.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>bypassCheckClass</param-name>
      <param-value>javawebparts.sampleapp.AAFBypassCheck</param-value>
    </init-param>
  </filter>

  <!-- ParameterMungerFilter -->
  <filter>
    <filter-name>ParameterMungerFilter</filter-name>
    <filter-class>javawebparts.filter.ParameterMungerFilter</filter-class>
    <init-param>
      <param-name>pathSpec</param-name>
      <param-value>include</param-value>
    </init-param>
    <init-param>
      <param-name>pathList</param-name>
      <param-value>*/parameterMungerFilterTest</param-value>
    </init-param>
    <init-param>
      <param-name>functionList</param-name>
      <param-value>trim,ucase,reverse</param-value>
    </init-param>
  </filter>

  <!-- ElapsedTimeFilter -->
  <filter>
    <filter-name>ElapsedTimeFilter</filter-name>
    <filter-class>javawebparts.filter.ElapsedTimeFilter</filter-class>
    <init-param>
      <param-name>pathSpec</param-name>
      <param-value>include</param-value>
    </init-param>
    <init-param>
      <param-name>pathList</param-name>
      <param-value>*</param-value>
    </init-param>
  </filter>

  <!-- Filter mappings -->
<!--
  <filter-mapping>
    <filter-name>SessionLimiterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
-->
  <filter-mapping>
    <filter-name>URLRedirectFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>JSCompressionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>DependencyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionInactivityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>IPAccessControlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RequestRecorderFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CrossSiteScriptingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CacheControlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CompressionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AppAvailabilityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ParameterMungerFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ElapsedTimeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Listeners -->
  <listener>
    <listener-class>javawebparts.listener.AppConfigContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>javawebparts.listener.SessionLimiterListener</listener-class>
  </listener>

  <!-- Servlets -->
  <servlet>
    <servlet-name>ServeResourceFromJAR</servlet-name>
    <servlet-class>javawebparts.servlet.ResourceServerServlet</servlet-class>
    <init-param>
      <param-name>requestParameter</param-name>
      <param-value>res</param-value>
    </init-param>
    <init-param>
      <param-name>resourceStreamClass</param-name>
      <param-value>javawebparts.servlet.ResourceStreamFromJAR</param-value>
    </init-param>
    <init-param>
      <param-name>serveUnbounded</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>defaultContentType</param-name>
      <param-value>image/gif</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ServeResourceFromFileSystem</servlet-name>
    <servlet-class>javawebparts.servlet.ResourceServerServlet</servlet-class>
    <init-param>
      <param-name>requestParameter</param-name>
      <param-value>fsres</param-value>
    </init-param>
    <init-param>
      <param-name>resourceStreamClass</param-name>
      <param-value>javawebparts.servlet.ResourceStreamFromFileSystem</param-value>
    </init-param>
    <init-param>
      <param-name>serveUnbounded</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>resourceMappingFile</param-name>
      <param-value>/WEB-INF/resource-mappings.xml</param-value>
    </init-param>
    <init-param>
      <param-name>defaultContentType</param-name>
      <param-value>dummy</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ServeResourceFromURL</servlet-name>
    <servlet-class>javawebparts.servlet.ResourceServerServlet</servlet-class>
    <init-param>
      <param-name>streamParam1</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>streamParam2</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>requestParameter</param-name>
      <param-value>ures</param-value>
    </init-param>
    <init-param>
      <param-name>resourceStreamClass</param-name>
      <param-value>javawebparts.servlet.ResourceStreamFromURL</param-value>
    </init-param>
    <init-param>
      <param-name>serveUnbounded</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>defaultContentType</param-name>
      <param-value>image/gif</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>SessionSizeTestServlet</servlet-name>
    <servlet-class>javawebparts.sampleapp.SessionSizeTestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendByIDTestServlet</servlet-name>
    <servlet-class>javawebparts.sampleapp.SendByIDTestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TextReturnerServlet</servlet-name>
    <servlet-class>javawebparts.servlet.TextReturnerServlet</servlet-class>
    <init-param>
      <param-name>order</param-name>
      <param-value>random</param-value>
    </init-param>
    <init-param>
      <param-name>itemsFile</param-name>
      <param-value>/WEB-INF/text_returner_items.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ParameterMungerFilterTestServlet</servlet-name>
    <servlet-class>javawebparts.sampleapp.ParameterMungerFilterTestServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>EncodeEntitiesTestServlet</servlet-name>
    <servlet-class>javawebparts.sampleapp.EncodeEntitiesTestServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ContextSizeTestServlet</servlet-name>
    <servlet-class>javawebparts.sampleapp.ContextSizeTestServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>TextRendererServlet</servlet-name>
    <servlet-class>javawebparts.servlet.TextRendererServlet</servlet-class>
    <init-param>
      <param-name>fontName</param-name>
      <param-value>Arial</param-value>
    </init-param>
    <init-param>
      <param-name>fontPoint</param-name>
      <param-value>24</param-value>
    </init-param>
    <init-param>
      <param-name>color</param-name>
      <param-value>255,0,0</param-value>
    </init-param>
    <init-param>
      <param-name>backColor</param-name>
      <param-value>255,255,0</param-value>
    </init-param>
    <init-param>
      <param-name>stylePlain</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>styleBold</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>styleItalic</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>RedirectReturnerServlet</servlet-name>
    <servlet-class>javawebparts.servlet.RedirectReturnerServlet</servlet-class>
    <init-param>
      <param-name>order</param-name>
      <param-value>random</param-value>
    </init-param>
    <init-param>
      <param-name>itemsFile</param-name>
      <param-value>/WEB-INF/redirect_returner_items.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CodeExecuterTestServlet</servlet-name>
    <servlet-class>javawebparts.sampleapp.CodeExecuterTestServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>AjaxSelectTestServlet</servlet-name>
  	<servlet-class>javawebparts.sampleapp.AjaxSelectTestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AjaxIFrameTestServlet</servlet-name>
  	<servlet-class>javawebparts.sampleapp.AjaxIFrameTestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AjaxFormManipulatorTestServlet</servlet-name>
  	<servlet-class>javawebparts.sampleapp.AjaxFormManipulatorTestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RedirecterTestServlet</servlet-name>
  	<servlet-class>javawebparts.sampleapp.RedirecterTestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AjaxPostTestServlet</servlet-name>
  	<servlet-class>javawebparts.sampleapp.AjaxPostTestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FormSenderServlet</servlet-name>
  	<servlet-class>javawebparts.servlet.FormSenderServlet</servlet-class>
    <init-param>
      <param-name>smtpHost</param-name>
      <param-value>????</param-value>
    </init-param>
    <init-param>
      <param-name>smtpLogonRequired</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>smtpUsername</param-name>
      <param-value>????</param-value>
    </init-param>
    <init-param>
      <param-name>smtpPassword</param-name>
      <param-value>????</param-value>
    </init-param>
    <init-param>
      <param-name>fromAddress</param-name>
      <param-value>FormSenderServlet@javawebparts.sourceforge.net</param-value>
    </init-param>
    <init-param>
      <param-name>toAddresses</param-name>
      <param-value>????</param-value>
    </init-param>
    <init-param>
      <param-name>subject</param-name>
      <param-value>This is a test</param-value>
    </init-param>
    <init-param>
      <param-name>staticTokens</param-name>
      <param-value>ccList=Bill in Accounting, Dana in Legal~~deskOf=Beelzebub</param-value>
    </init-param>
    <init-param>
      <param-name>templateFile</param-name>
      <param-value>/WEB-INF/eMailTemplate.txt</param-value>
    </init-param>
    <init-param>
      <param-name>pageAfter</param-name>
      <param-value>/packages_jsp/servlet/mailSent.jsp</param-value>
    </init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>APTFormSenderTextServlet</servlet-name>
  	<servlet-class>javawebparts.sampleapp.FormSenderTestServlet</servlet-class>
  </servlet>

  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>ServeResourceFromJAR</servlet-name>
    <url-pattern>/serveResourceFromJAR</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServeResourceFromFileSystem</servlet-name>
    <url-pattern>/serveResourceFromFileSystem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServeResourceFromURL</servlet-name>
    <url-pattern>/serveResourceFromURL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendByIDTestServlet</servlet-name>
    <url-pattern>/sendByIDTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionSizeTestServlet</servlet-name>
    <url-pattern>/sessionSizeTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TextReturnerServlet</servlet-name>
    <url-pattern>/textReturner</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ParameterMungerFilterTestServlet</servlet-name>
    <url-pattern>/parameterMungerFilterTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EncodeEntitiesTestServlet</servlet-name>
    <url-pattern>/encodeEntitiesTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContextSizeTestServlet</servlet-name>
    <url-pattern>/contextSizeTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TextRendererServlet</servlet-name>
    <url-pattern>/textRenderer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RedirectReturnerServlet</servlet-name>
    <url-pattern>/redirectReturner</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CodeExecuterTestServlet</servlet-name>
    <url-pattern>/codeExecuterTestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AjaxSelectTestServlet</servlet-name>
  	<url-pattern>/ajaxSelectTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AjaxIFrameTestServlet</servlet-name>
  	<url-pattern>/ajaxIFrameTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AjaxFormManipulatorTestServlet</servlet-name>
  	<url-pattern>/ajaxFormManipulatorTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RedirecterTestServlet</servlet-name>
  	<url-pattern>/redirecterTestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AjaxPostTestServlet</servlet-name>
  	<url-pattern>/ajaxPostTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FormSenderServlet</servlet-name>
  	<url-pattern>/formSender</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>APTFormSenderTextServlet</servlet-name>
  	<url-pattern>/aptFormSenderTextServlet</url-pattern>
  </servlet-mapping>

  <!-- Session timeout config -->
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>

  <!-- Welcome file -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>